:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  section {
    padding: 3dvh 0 7dvh;
    width: min(1200px, 90%);
    flex: 1;
    margin: 0 auto;
  }

  footer {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    padding: 2dvh 4dvw
  }
}