:host{
  display: flex;
  flex-direction: column;
  gap: 4dvh;
}
header {
  display: flex;
  flex-direction: column;
  div {
    align-items: center;
    mat-form-field{
      width: max(50%, 300px);
    }
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.details{
  display: flex;
  flex-direction: column;
  gap: 2px;
  main{
    p{
      strong{
        color: var(--mat-sys-primary);
      }
    }
  }
  footer {
    display: flex;
    gap: 5px;
    padding-bottom: 3dvh;
  }
}
table {
    width: 100%;
  }
  
  .main-row {
    cursor: pointer;
  }
  
  .detail-row {
    height: 0;
  }
  
  .detail-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .detail-wrapper.expanded {
    grid-template-rows: 1fr;
  }
  
  .detail-box {
    padding: 16px;
    border-top: solid 1px #ddd;
  }
  
  button.rotated {
    transform: rotate(180deg);
    transition: transform 200ms ease;
  }
  