header {
  display: flex;
  flex-direction: column;
  div {
    align-items: center;
    mat-form-field{
      width: max(50%, 300px);
    }
    display: flex;
    justify-content: space-between;
  }
}


table {
    width: 100%;
  }
  
  .main-row {
    cursor: pointer;
  }
  
  .detail-row {
    height: 0;
  }
  
  .detail-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .detail-wrapper.expanded {
    grid-template-rows: 1fr;
  }
  
  .detail-box {
    padding: 16px;
    border-top: solid 1px #ddd;
  }
  
  button.rotated {
    transform: rotate(180deg);
    transition: transform 200ms ease;
  }
  